<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdwiU1YLIkMI27_ar2txwRpPPQMy3NWkA</string>
	<key>GCM_SENDER_ID</key>
	<string>1042358979086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blackjackadvantage.trainer</string>
	<key>PROJECT_ID</key>
	<string>blackjack-advantage-trainer</string>
	<key>STORAGE_BUCKET</key>
	<string>blackjack-advantage-trainer.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042358979086:ios:8fa409804185ab1e44ca5f</string>
</dict>
</plist>